# API key for the embeddings model. Defaults to OpenAI embeddings
AZURE_OPENAI_EMBEDDINGS_MODEL=text-embedding-3-small
AZURE_OPENAI_EMBEDDINGS_ENDPOINT="https://akeraai-poc-dev.openai.azure.com/openai/deployments/text-embedding-3-small/embeddings?api-version=2023-05-15"

# PostgreSQL configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=langconnect_dev

# CORS configuration. Must be a JSON array of strings
ALLOW_ORIGINS=["http://localhost:3000"]


# For authentication
SUPABASE_URL=
# This must be the service role key
SUPABASE_KEY=